/**
body {
    background-image: url(assets/bamboo-resized.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    **/


 #navbar-custom {
    background-color:gray;
}

.navbar-collapse .navbar-nav .nav-item .nav-link {
    color: rgb(72, 40, 146);
    font-size: 1.5vw;
}


.navbar-collapse .navbar-nav .nav-item .nav-link:hover {
    color:darkmagenta;
}



#navbar-custom .navbar-brand {
    color:mediumvioletred;
    font-size: 3vw;
    font-family: 'Dosis', sans-serif;
}



.navbar-brand img {
    width: 3vw;
    height: 3vw;
}